/*!
 * Layout genneral 
 * Copyright Dang Cong Dao 2015.
 * Licensed final
 */

// ----- @import all----- //
@import "mixins";
@import "core";
@import "plugins";
@import "pages";
@import "partials";
@import "partials/sprites";


/*----- animation image -----*/

@-webkit-keyframes smooth-image {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes smooth-image {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes smooth-image {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
