//-------------------------------------
//  Reset a.k.a @include global-reset
//-------------------------------------
// Based on Eric Meyer's reset 2.0 Global reset rules. 
// For more specific resets, use the reset mixins provided below
// http://meyerweb.com/eric/tools/css/reset/

/*----- reset -----*/
*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent
}
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  margin: 0;
	padding: 0;
	line-height: 1.6;
  font-size: 100%;
  color: map-get($global-color, c);
	background-color: map-get($global-color, a);
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
dl,
dt,
dd,
blockquote,
form,
input,
fieldset,
legend {
	margin: 0;
	padding: 0;
}

img, fieldset {
	border: none;
}

li, dt, dd {
	line-height: 1.4;
}

table {
	font-size: 100%;
	line-height: 1.6;
	word-break: break-all;
}

form, input, select, textarea {
	font-size: 100%;
}

article,
aside,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  margin: 0;
  display: block;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
img {
  vertical-align: top
}
body,
input,
select,
textarea {
	//font-family: "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  //font-family: 'Zen Maru Gothic', serif;
  font-family: 'lucida_granderegular';
  //font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
}

body #tmp_contents p em {
	font-family: "ＭＳ ゴシック", "MS Gothic", "Osaka－等幅", Osaka-mono, monospace;
	font-size: 105%;
}

a:link,
a.active,
a:visited {
	color: #333333;
}
a:hover {
	text-decoration: none;
}
/*----- common -----*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active {
  background-color: #fff !important;
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  outline: none !important;
  transition: background-color 5000s ease-in-out 0s;
}
a {
  &:link,
  &:visited,
  &:hover,
  &:focus {
    //@include transition(all 0.3s ease-in-out);
    text-decoration: none;
    outline: none;
  }
  &:focus {
    outline: none;
    // outline: thin dotted;
    // outline: 5px auto -webkit-focus-ring-color;
    // outline-offset: -2px;
  }
}
.btn,
.btn:hover,
.btn:active {
  // @include transition(all 0.3s ease-in-out);
  outline: 0 !important;
}
img {
  width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  object-fit: cover;
  -ms-interpolation-mode: bicubic;
  -webkit-animation: smooth-image 1.2s;
  -moz-animation: smooth-image 1.2s;
  animation: smooth-image 1.2s;
}
img:not([src]):not([srcset]) {
  visibility: hidden
}

@-moz-document url-prefix() {
  img:-moz-loading {
    visibility: hidden
  }
}
