// Equal height
@mixin equal_height {
  @include flexbox();
  -webkit-flex: 1;
	flex: 1;
  -ms-flex-flow: row wrap;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: center;
	justify-content: center;
	// -webkit-align-items: flex-start;
	// align-items: flex-start;
	&:before,
	&:after{
		display: none;
	}
}