/*************************************
**************************************
These are the styles for
the home page
**************************************
**************************************/
.section-faq{
  @include clearfix();
  padding: 28px 0 25px;
  .container{
    max-width: 1050px;
    @media screen and (max-width: 1070px) {
      padding: 0 30px;
      max-width: 100%;
    }
  }
  @media screen and (max-width: 767px) {
    padding-bottom: 15px;
  }
}
.faq-heading{
  @include clearfix();
  margin: 0 0 85px;
  h1{
    margin: 0 0 20px;
    font-size: 150%;
    font-weight: 700;
    line-height: 1.4;
    text-align: center;
    color: map-get($global-color, b);
  }
  @media screen and (max-width: 767px) {
    margin-bottom: 25px;
  }
}
.faq-group{
  @include clearfix();
  margin-bottom: 68px;
  @media screen and (max-width: 767px) {
    margin-bottom: 53px;
  }
  &:last-child{
    @media screen and (max-width: 767px) {
      margin-bottom: 32px;
    }
  }
}
.faq-des-heading{
  @include clearfix();
  padding-bottom: 10px;
  border-bottom: 2px solid #cccccc;
  h2{
    font-size: 112.5%;
  }
  @media screen and (max-width: 767px) {
    padding-bottom: 15px;
  }
}
.question-cate{
  @include clearfix();
}
.question-accordion{
  @include clearfix();
  .question-item{
    @include clearfix();
    background-color: #FFFFFF;
    border-bottom: 1px solid #999999;
    .question-heading{
      @include clearfix();
      padding: 17px 0;
      cursor: pointer;
      .question-ttl{
        @include clearfix();
        position: relative;
        padding: 4px 39px 0 56px;
        font-size: 81.3%;
        min-height: 33px;
        color: map-get($global-color, c);
        background: transparent url(#{$base-url}/icon-ac-close.png) right 14px top 1px no-repeat scroll;
        a{
          color: map-get($global-color, c);
        }
        &:before,
        &:after{
          position: absolute;
          content: '';
        }
        &:before{
          @include border-radius(3px);
          left: 0;
          top: 0;
          width: 32px;
          height: 32px;
          color: #FFFFFF;
          background-color: #333333;
        }
        &:after{
          @include transition(0.3s all ease-in-out);
          left: 9px;
          top: 5px;
          z-index: 1;
          width: 15px;
          height: 21px;
          color: inherit;
          background: transparent url(#{$base-url}/icon-question-ac.svg) no-repeat scroll center center;
        }
      }
      @media screen and (max-width: 767px) {
        padding-bottom: 16px;
      }
    }
    .question-content{
      @include clearfix();
      position: relative;
      padding: 0 39px 0 56px;
      display: none;
      overflow: hidden;
      &:before,
      &:after{
        position: absolute;
        content: '';
      }
      &:before{
        @include border-radius(3px);
        left: 0;
        top: 0;
        width: 32px;
        height: 32px;
        color: #FFFFFF;
        background-color: #c7bd96;
      }
      &:after{
        @include transition(0.3s all ease-in-out);
        left: 5px;
        top: 5px;
        z-index: 1;
        width: 24px;
        height: 24px;
        color: inherit;
        background: transparent url(#{$base-url}/icon-anwser.svg) no-repeat scroll center center;
      }
      .reply-content{
        @include clearfix();
        position: relative;
        padding-top: 4px;
        margin-bottom: 24px;
        color: #333333;
        font-size: 81.3%;
        @media screen and (max-width: 767px) {
          margin-bottom: 20px;
        }
      }
      
    }
    &.active{
      .question-heading{
        cursor: pointer;
        .question-ttl{
          background: transparent url(#{$base-url}/icon-ac-open.png) right 14px center no-repeat scroll;
        }
      }
    }
  }
}