/*************************************
**************************************
These are the styles for
the home page
**************************************
**************************************/
.section-mainvisual{
  @include clearfix();
}
.mainvisual-photo{
	position: relative;
	@include clearfix();
	img{
		width: 100%;
		height: auto;
		vertical-align: top;
	}
}
.mainvisual-pc{
	display: block;
	@media screen and (max-width: 767px) {
		display: none;
	}
}
.mainvisual-sp{
	display: none;
	@media screen and (max-width: 767px) {
		display: block;
	}
}
.mainvisual-top-pc{
	display: block;
	@media screen and (max-width: 450px) {
		display: none;
	}
}
.mainvisual-top-sp{
	display: none;
	@media screen and (max-width: 450px) {
		display: block;
	}
}
.section-welcome{
	@include clearfix();
	z-index: 1;
	position: relative;
	margin-top: -137px;
	&:after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
		bottom: 0;
		z-index: -1;
    width: 30%;
    height: auto;
    color: map-get($global-color, b);
    background-color: map-get($global-color, a);
		@media screen and (max-width: 790px) {
			display: none;
		}
  }
	.container{
		@media screen and (max-width: 790px) {
			@include flexbox();
			flex-direction: column-reverse;
		}
	}
	@media screen and (max-width: 450px) {
		margin-top: -240px;
	}
}
.service-list{
	@include clearfix();
	padding: 181px 0 25px 50px;
	float: left;
	width: 41.5%;
	ul{
		@include clearfix();
		margin: 0;
		padding: 0;
		list-style: none;
		li{
			padding: 0 10px;
			margin-bottom: 10px;
			float: left;
			text-align: center;
			img{
				max-width: 100%;
				height: auto;
				vertical-align: top;
			}
			@media screen and (max-width: 1024px) {
				width: 33.333333%;
			}
		}
	}
	@media screen and (max-width: 1024px) {
		padding: 181px 0 25px 10px;
	}
	@media screen and (max-width: 790px) {
		padding: 20px 0;
		width: 100%;
		float: none;
	}
	@media screen and (max-width: 450px) {
		padding: 0 0 50px;
	}
}
.welcome-media{
	@include clearfix();
	@include border-radius(10px 0 0 0);
	padding: 42px 23px 30px 78px;
	overflow: hidden;
	float: left;
	width: 58.5%;
	color: map-get($global-color, c);
	background-color: map-get($global-color, a);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	.welcome-cap{
		@include clearfix();
		padding-right: 10px;
		-webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
		@media screen and (max-width: 790px) {
			padding-right: 0;
			margin-bottom: 38px;
		}
	}
	.welcome-map{
		width: 231px;
		img{
			max-width: 100%;
			height: auto;
			vertical-align: middle;
		}
		@media screen and (max-width: 790px) {
    	padding-left: 12px;
			margin: 0 auto;
			width: 215px;
		}
	}
	.welcome-title{
		margin-bottom: 20px;
		font-size: 187.5%;
		font-weight: normal;
		line-height: 1.6;
		@media screen and (max-width: 576px) {
			margin-bottom: 17px;
			font-size: 137.5%;
		}
	}
	.welcome-para{
		font-size: 81.3%;
		line-height: 2.1;
		letter-spacing: -0.02em;
	}
	@media screen and (max-width: 1024px) {
		padding: 25px 23px;
	}
	@media screen and (max-width: 790px) {
		@include border-radius(0);
		width: 100%;
		float: none;
		display: block;
	}
	@media screen and (max-width: 576px) {
		padding: 35px 34px 30px;
	}
}
.section-notice{
	@include clearfix();
	padding: 42px 0 36px;
	color: map-get($global-color, c);
  background-color: map-get($global-color, e);
	.container{
		max-width: 1048px;
		@media screen and (max-width: 1068px) {
			padding: 0 30px;
		}
	}
	.notice-ttl{
		margin-bottom: 10px;
		text-align: center;
		font-size: 125%;
		font-weight: bold;
	}
	@media screen and (max-width: 576px) {
		padding: 38px 0 29px;
	}
}
.notice-cate{
	@include clearfix();
	@include flexbox();
	justify-content: center;
	@media screen and (max-width: 576px) {
		padding: 0 20px;
		display: block;
	}
}
.notice-list{
	@include clearfix();
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 87.5%;
	li{
		@include clearfix();
		margin-bottom: 10px;
		.notice-date{
			padding-right: 5px;
			float: left;
			width: 82px;
			@media screen and (max-width: 576px) {
				padding-right: 0;
				margin-bottom: 5px;
				float: none;
				width: 100%;
			}
		}
		.notice-link{
			overflow: hidden;
			a{
				text-decoration: underline;
				line-height: 1.6;
				&:hover,
				&:focus{
					text-decoration: none;
				}
			}
		}
	}
}
.section-hotel-info{
	@include clearfix();
	.container{
		max-width: 980px;
		@media screen and (max-width: 1000px) {
			padding: 0;
			max-width: 100%;
		}
	}
	
}
.hotel-info-image{
	@include clearfix();
	padding-top: 61px;
	img{
		max-width: 100%;
		height: auto;
		vertical-align: top;
	}
	@media screen and (max-width: 1024px) {
		padding-top: 0;
	}
}
.hotel-detail{
	@include clearfix();
	padding: 42px 30px 37px;
	text-align: center;
	.hotel-ttl{
		margin-bottom: 10px;
		text-transform: uppercase;
		font-size: 100%;
		font-weight: bold;
		color: #000000;
	}
	.hotel-address,
	.hotel-tel,
	.hotel-checkin-out{
		margin-bottom: 5px;
		font-size: 81.3%;
		@media screen and (max-width: 576px) {
			margin-bottom: 8px;
		}
	}
	.hotel-tel{
		position: relative;
		padding-bottom: 13px;
		margin-bottom: 9px;
		&:after{
			position: absolute;
			left: 50%;
			bottom: 0;
			margin-left: -5px;
			content: '';
			width: 10px;
			height: 2px;
			color: map-get($global-color, a);
    	background-color: map-get($global-color, d);
		}
	}
	@media screen and (max-width: 576px) {
		padding: 33px 25px;
	}
}

.section-accommodation{
	@include clearfix();
	overflow: hidden;
	
}
.accommodation-main{
	position: relative;
}
.represent-img{
	img{
		width: 100%;
		height: auto;
		vertical-align: top;
		@media screen and (max-width: 576px) {
			height: 290px;
		}
	}
}
.represent-box{
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 5;
	padding: 40px 48px 47px 59px;
	width: 527px;
	color: map-get($global-color, a);
	background-color: rgba(26, 26, 26, 0.9);
	h2{
		margin-bottom: 8px;
		font-size: 175%;
		font-weight: normal;
		text-transform: uppercase;
		@media screen and (max-width: 576px) {
			line-height: 1.4;
		}
	}
	p{
		margin-bottom: 24px;
		font-size: 81.3%;
		line-height: 1.85;
		@media screen and (max-width: 576px) {
			line-height: 2;
		}
	}
	.see-detail{
		@include clearfix();
		a{
			@include transition(0.3s background-color ease-in-out);
			padding: 9px 10px 7px 33px;
			display: inline-block;
			min-width: 146px;
			min-height: 34px;
			font-size: 81.3%;
			color: #000000;
			background-color: #C7BD96;
			&:hover,
			&:focus{
				background-color: map-get($global-color, active);
			}
		}
		@media screen and (max-width: 576px) {
			margin-top: 30px;
		}
	}
	@media screen and (max-width: 1024px) {
		position: static;
		padding: 36px 30px;
		width: 100%;
	}
	@media screen and (max-width: 576px) {
		padding: 30px 20px 34px 30px;
	}
}
.accommodation-cate{
	@include clearfix();
	padding: 43px 0 77px;
	overflow: hidden;
	.container{
		max-width: 1050px;
		@media screen and (max-width: 1070px) {
      max-width: 100%;
			padding: 0 30px;
    }
	}
	@media screen and (max-width: 1024px) {
		padding: 36px 0 20px;
	}
}
.cuisine-cate{
	@include clearfix();
	padding: 43px 0 15px;
	overflow: hidden;
	.container{
		max-width: 1050px;
		@media screen and (max-width: 1070px) {
      max-width: 100%;
    }
	}
	@media screen and (max-width: 1070px) {
		padding: 38px 20px 0;
	}
}
.accommodation-list{
  @include clearfix();
  @include equal_height();
  margin: 0 -17px;
	list-style: none;
	padding: 0;
  .accommodation-item{
    padding: 0 17px;
    float: left;
    width: 33.3333333%;
    margin-bottom: 33px;
    @media screen and (max-width: 950px) {
      padding: 0 10px;
      margin-bottom: 15px;
    }
    @media screen and (max-width: 576px) {
			margin-bottom: 25px;
      width: 100%;
      float: none;
    }
  }
  @media screen and (max-width: 950px) {
    margin: 0 -10px 20px;
  }
	@media screen and (max-width: 576px) {
		margin-bottom: 0;
	}
}
.accommodation-figure{
  @include clearfix();
  margin-bottom: 0;
  height: 100%;
  position: relative;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  color: map-get($global-color, b);
  background-color: map-get($global-color, a);
  .accommodation-image{
    position: relative;
    overflow: hidden;
    img{
      width: 100%;
      height: auto;
			vertical-align: top
    }
  }
  .accommodation-caption{
    @include clearfix();
    padding: 20px 0 0;
    color: map-get($global-color, b);
    background-color: map-get($global-color, a);
		.accommodation-renewal{
			margin-bottom: 10px;
			font-size: 81.3%;
			span{
				padding: 2px 5px 1px;
				min-width: 189px;
				display: inline-block;
				vertical-align: top;
				border: 2px solid #C7BD96;
				@media screen and (max-width: 790px) {
					min-width: inherit;
				}
			}
		}
    .accommodation-heading{
      margin-bottom: 10px;
      font-weight: bold;
      color: #000000;
			font-size: 93.75%;
      a{
        color: #000000;
        &:hover,
        &:focus{
          color: map-get($global-color, active);
        }
      }
			@media screen and (max-width: 576px) {
				margin-bottom: 5px;
			}
    }
		.accommodation-stretch{
			color: #808080;
			font-size: 81.3%;
		}
		@media screen and (max-width: 576px) {
			padding-top: 19px;
    }
  }
}
.accommodation-para{
	font-size: 81.3%
}
.read-more{
	@include clearfix();
	padding-top: 11px;
	text-align: center;
	a{
		@include transition(0.3s background-color ease-in-out);
		position: relative;
		padding: 10px 10px 9px;
		display: inline-block;
		min-width: 325px;
		font-size: 81.3%;
		font-weight: bold;
		color: map-get($global-color, g);
  	background-color: map-get($global-color, f);
		&:before{
			position: relative;
			top: -1px;
			margin-right: 6px;
			left: -21px;
			content: '';
			width: 7px;
			height: 7px;
			display: inline-block;
			vertical-align: middle;
			color: inherit;
			background: transparent url(#{$base-url}/icon-sum.png) no-repeat scroll;
		}
		&:hover,
		&:focus{
			background-color: map-get($global-color, active);
		}
	}
	@media screen and (max-width: 576px) {
		padding-top: 0;
		margin-bottom: 20px;
	}
}
.section-onsen{
	@include clearfix();
	.represent-box{
		left: -13px;
		right: auto;
		padding-top: 38px;
		padding-right: 30px;
	}
	.accommodation-cate{
		padding-top: 66px;
		@media screen and (max-width: 576px) {
      padding-top: 36px;
			padding-bottom: 8px;
    }
	}
}
.onsen-main{
	position: relative;
}
.section-cuisine{
	@include clearfix();
	overflow: hidden;
}
.cuisine-main{
	position: relative;
}
.cuisine-ttl{
	margin-bottom: 24px;
	text-align: center;
	h3{
		font-size: 187.5%;
		font-weight: bold;
	}
	@media screen and (max-width: 576px) {
		margin-bottom: 41px;
	}
}
.chicken-list{
	margin: 14px 0 0 17px;
	font-size: 81.3%;
	list-style: outside;
	color: map-get($global-color, g);
	li{
		margin-bottom: 2px;
	}
	@media screen and (max-width: 576px) {
		margin: 5px 0 0 17px;
	}
}
.section-ads{
	@include clearfix();
	padding: 36px 0 26px;
	color: map-get($global-color, b);
	background-color: map-get($global-color, h);
	.container{
		max-width: 736px;
		@media screen and (max-width: 767px) {
			padding: 0 30px;
		}
		@media screen and (max-width: 576px) {
			max-width: 100%;
		}
	}
	@media screen and (max-width: 576px) {
		padding: 30px 0 17px;
	}
}
.ads-cate{
	overflow: hidden;
}
.ads-list{
	@include clearfix();
	list-style: none;
	padding: 0;
	margin: 0 -10px;
	li{
		padding: 0 10px;
		margin-bottom: 10px;
		float: left;
		width: 50%;
		a{
			img{
				@include transition(0.3s opacity ease-in-out);
				max-width: 100%;
				height: auto;
				vertical-align: top;
				@media screen and (max-width: 576px) {
					width: 100%;
				}
			}
			&:hover,
			&:focus{
				img{
					opacity: 0.7;
				}
			}
		}
		@media screen and (max-width: 576px) {
			float: none;
			width: 100%;
			text-align: center;
		}
	}
}