/*************************************
**************************************
These are the styles for
the home page
**************************************
**************************************/
.guest-room-image{
  @include clearfix();
  margin-bottom: 40px;
  .container{
    max-width: 1050px;
    @media screen and (max-width: 1070px) {
      max-width: 100%;
      padding: 0;
    }
    @media screen and (max-width: 576px) {
      margin-bottom: 48px;
    }
  }
}
.equipment-button{
	@include clearfix();
  color: map-get($global-color, a);
  a{
    display: inline-block;
  }
}
.room-region{
  @include clearfix();
  padding-top: 17px;
  overflow: hidden;
  .container{
    max-width: 1050px;
    @media screen and (max-width: 1070px) {
      padding: 0 30px;
      max-width: 100%;
    }
  }
  @media screen and (max-width: 576px) {
    padding-top: 4px;
  }
}
.rooms-action{
  @include clearfix();
  margin-bottom: 65px;
  .rooms-service,
  .rooms-booking{
    float: left;
    @media screen and (max-width: 1020px) {
      float: none;
    }
  }
  .rooms-service{
    width: 54%;
    @media screen and (max-width: 1020px) {
      margin-bottom: 15px;
      width: 100%;
    }
  }
  .rooms-booking{
    width: 46%;
    @media screen and (max-width: 1020px) {
      width: 100%;
    }
    @media screen and (max-width: 576px) {
      margin-bottom: 24px
    }
  }
  @media screen and (max-width: 1020px) {
    margin-bottom: 14px;
  }
}
.rooms-service-list{
  @include clearfix();
  list-style: none;
  padding: 0;
  margin: 0;
  li{
    margin-right: 15px;
    float: left;
    @media screen and (max-width: 576px) {
      margin: 0 0 6px;
      float: none;
    }
  }
}
.rooms-media{
  display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
  .rooms-media-image{
    width: 55px;
		img{
			max-width: 100%;
			height: auto;
			vertical-align: middle;
		}
  }
  .rooms-media-body{
    @include clearfix();
		-webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 81.3%;
  }
}
.booking-list{
  @include clearfix();
  @include flexbox();
  justify-content: flex-end;
	align-items: flex-end;
  list-style: none;
  padding: 0;
  margin: 8px -5px 0;
  li{
    float: left;
    padding: 0 5px;
    margin-bottom: 10px;
    &:nth-child(2n){
      width: 45%;
      @media screen and (max-width: 1020px) {
        width: 50%;
      }
      @media screen and (max-width: 576px) {
        width: 100%;
      }
    }
    &:nth-child(2n+1){
      width: 55%;
      @media screen and (max-width: 1020px) {
        width: 50%;
      }
      @media screen and (max-width: 576px) {
        width: 100%;
      }
    }
    @media screen and (max-width: 576px) {
      float: none;
    }
  }
  @media screen and (max-width: 576px) {
    margin-top: 17px;
    display: block;
  }
}
.equipment-img-sp{
  display: none;
  @media screen and (max-width: 390px) {
		display: block;
	}
}
.equipment-img-pc{
  @media screen and (max-width: 390px) {
		display: none;
	}
}
.room-equipment{
  @include clearfix();
  @include flexbox();
  @include border-radius(2px);
  border: 2px solid #cccccc;
  padding: 30px 30px 13px 33px;
  margin-bottom: 39px;
  align-items: center;
  .equipment-media,
  .equipment-design{
    float: left;
    @media screen and (max-width: 390px) {
      float: none;
    }
  }
  .equipment-media{
    padding-right: 45px;
    width: 56.5%;
    @media screen and (max-width: 767px) {
      padding-right: 0;
      width: 100%;
    }
  }
  .equipment-design{
    width: 43.5%;
    text-align: center;
    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }
  @media screen and (max-width: 767px) {
    display: block;
  }
  @media screen and (max-width: 576px) {
    margin-bottom: 33px;
		padding: 30px 24px 40px;
	}
}
.equipment-wrap{
  @include clearfix();
}
.equipment-panel{
  @include clearfix();
  margin-bottom: 30px;
  .equipment-ttl{
    padding-bottom: 7px;
    margin-bottom: 12px;
    color: map-get($global-color, g);
    font-size: 93.8%;
    border-bottom: 1px solid #999999;
  }
  .equipment-list{
    float: left;
    width: calc(50% - 24px);
    @media screen and (max-width: 576px) {
      float: none;
      width: 100%;
    }
  }
  @media screen and (max-width: 576px) {
    margin-bottom: 49px;
  }
  &:last-child{
    @media screen and (max-width: 576px) {
      margin-bottom: 21px;
    }
  }
}
.equipment-list{
  @include clearfix();
  list-style: outside;
  padding: 0;
  margin: 0 0 0 20px;
  font-size: 81.3%;
  li{
    margin-bottom: 3px;
    a{
      &:hover,
      &:focus{
        text-decoration: underline;
      }
    }
    @media screen and (max-width: 576px) {
      margin-bottom: 4px;
    }
  }
}
.section-guest{
  @include clearfix();
  padding: 39px 0 35px;
  color: map-get($global-color, a);
  background-color: #8d8d8d;
  .container{
    max-width: 1050px;
    @media screen and (max-width: 1070px) {
      max-width: 100%;
    }
    @media screen and (max-width: 1070px) {
      padding: 0 30px;
    }
  }
  @media screen and (max-width: 576px) {
    padding: 30px 0 18px;
  }
}
.guest-ttl{
  @include clearfix();
  margin-bottom: 27px;
  h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 150%;
    color: map-get($global-color, a);
    font-weight: bold;
  }
}
.guest-cate{
	@include clearfix();
	overflow: hidden;
}
.guest-list{
  @include clearfix();
  @include equal_height();
  justify-content: flex-start;
	align-items: flex-start;
  margin: 0 -9px;
	list-style: none;
	padding: 0;
  .guest-item{
    padding: 0 9px;
    float: left;
    width: 20%;
    margin-bottom: 22px;
    @media screen and (max-width: 950px) {
      width: 25%;
    }
    @media screen and (max-width: 850px) {
      width: 33.333333%;
    }
    @media screen and (max-width: 576px) {
      margin-bottom: 20px;
      width: 50%;
      float: none;
    }
  }
}
.guest-figure{
  @include clearfix();
  margin-bottom: 0;
  height: 100%;
  position: relative;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  color: map-get($global-color, b);
  .guest-image{
    position: relative;
    overflow: hidden;
    img{
      width: 100%;
      height: auto;
			vertical-align: top
    }
  }
  .guest-caption{
    @include clearfix();
    padding: 7px 0 0;
    .guest-heading{
      margin-bottom: 0;
      font-weight: bold;
      color: map-get($global-color, a);
      font-size: 81.3%;
      a{
        color: map-get($global-color, a);
        &:hover,
        &:focus{
          text-decoration: underline;
        }
      }
    }
  }
}