/*************************************
**************************************
These are the styles for
the search result page
**************************************
**************************************/
.modal-general{
  .modal-header{
    @include border-radius(0);
    padding: 0 39px;
    border-bottom: 0;
    display: block;
    color: map-get($global-color, active);
    background-color: map-get($global-color, a);
  }
  .modal-body{
    @include border-radius(4px);
    @include box-shadow(0 4px 22px 0 rgba(0,0,0,0.12));
    padding: 40px 38px;
    color: map-get($global-color, b);
    background-color: map-get($global-color, a);
    @media(max-width: 767px) {
      padding: 32px;
    }
  }
  .modal-content{
    @include border-radius(0);
    background: none;
    border: 0;
    overflow: hidden;
  }
  .modal-footer{
    margin-top: 20px;
    @include border-radius(0);
    justify-content: center;
    text-align: center;
    border: 0;
    p{
      margin-bottom: 0;
      &.modal-footer-paragraph{
        font-size: 1.3rem;
      }
    }
  }
  &.modal-group{
    .modal-body{
      @include box-shadow(none);
      padding: 0 20px;
      color: map-get($global-color, b);
      background-color: transparent;
      @media screen and (max-width: 750px) {
        padding: 0;
      }
    }
  }
}
.modal-training{
  .modal-body{
    @include border-radius(8px);
    @include box-shadow(0 4px 22px 0 rgba(0,0,0,0.12));
    padding: 2.5rem 2rem 1.5rem;
    color: map-get($global-color, b);
    background-color: map-get($global-color, a);
    color: map-get($global-color, b);
    background-color: map-get($global-color, a);
  }
  .modal-content{
    @include border-radius(0);
    background: none;
    border: 0;
    overflow: hidden;
  }
  .modal-footer{
    margin-top: 20px;
    @include border-radius(0);
    justify-content: center;
    text-align: center;
    border: 0;
    p{
      margin-bottom: 0;
      &.modal-footer-paragraph{
        font-size: 1.3rem;
      }
    }
  }
}
.modal-row{
  @include clearfix();
  margin: 0 -8px;
  .modal-col{
    padding: 0 8px;
    margin-bottom: 16px;
    float: left;
    width: 33.333333%;
    &:nth-child(3n){
      clear: right;
      @media screen and (max-width: 640px) {
        clear: none;
      }
    }
    &:nth-child(3n+1){
      clear: left;
      @media screen and (max-width: 640px) {
        clear: none;
      }
    }
  }
}
@media (min-width: 750px) {
  .modal-general {
    .modal-dialog {
      max-width: 480px;
      margin: 5rem auto;
    }
    &.modal-group{
      .modal-dialog {
        max-width: 917px;
      }
    }
  }
  .modal-training{
    .modal-dialog {
      max-width: 335px;
      margin: 5rem auto;
    }
  }
}
@media (min-width: 320px) {
  .modal-centering .modal-content {
    display: table-cell;
    vertical-align: middle;
    height: calc(100vh - 10rem);
  }
}
@media (max-width: 750px) {
  .modal-general {
    .modal-dialog {
      padding: 0 1.5rem;
      margin: 6rem auto 8rem;
    }
  }
  .modal-training {
    .modal-dialog {
      padding: 0 1.5rem;
      margin: 6rem 0 8rem;
    }
  }
}
.modal-horizontal{
  .modal-body{
    @include border-radius(0);
  }
  .modal-content{
    @media (max-width: 750px) {
      @include flexbox();
      align-items: center;
      justify-self: center;
      justify-content: center;
      flex-flow: wrap row;
      height: auto;
    }
  }
  .modal-scroll{
    @media (max-width: 750px) {
      min-height: .01%;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: -ms-autohiding-scrollbar;
      &::-webkit-scrollbar-button {
        width: 0;
        height: 0;
        display: none;
      }
      &::-webkit-scrollbar-corner {
        background-color: transparent;
      }
      &::-webkit-scrollbar-track{
        @include border-radius(10px);
        @include box-shadow(inset 0 0 6px rgba(0,0,0,0.2));
        background-color: #FFFFFF;
      }
      &::-webkit-scrollbar{
        height: 8px; /* height of horizontal scrollbar ← You're missing this */
        width: 8px; /* width of vertical scrollbar */
        background-color: #F5F5F5;
      }
      &::-webkit-scrollbar-thumb{
        @include border-radius(10px);
        @include box-shadow(inset 0 0 6px rgba(0,0,0,0.2));
        background-color: #e3e7eb;
      }
    }
    .modal-row{
      @media (max-width: 750px) {
        min-width: 893px;
      }
    }
  }
}