/*************************************
**************************************
These are the styles for
the footer section
**************************************
**************************************/

#footer {
  @include clearfix();
  position: relative;
  color: map-get($global-color, a);
  background-color: #313131;
  .container{
    max-width: 1265px;
  }
  .footer-front{
    @include clearfix();
    padding: 48px 0 44px;
    color: map-get($global-color, a);
	  background-color: map-get($global-color, d);
    .footer-logo-wrap{
      @include clearfix();
      margin-bottom: 18px;
      @media screen and (max-width: 576px) {
        padding: 0 0 0 22px;
        margin-bottom: 9px;
      }
    }
    .footer-front-left{
      padding-right: 10px;
      float: left;
      width: 537px;
      .footer-main-logo{
        position: relative;
        top: 3px;
        left: -3px;
        float: left;
        width: 113px;
        height: 28px;
        p, span{
          width: 113px;
          height: 28px;
        }
        p{
          color: map-get($global-color, b);
          background: map-get($global-color, d) url(#{$base-url}/logo-footer.svg) no-repeat scroll;
        }
        span{
          position: relative;
          z-index: -1;
        }
        @media screen and (max-width: 576px) {
          left: auto;
          float: none;
        }
      }
      .footer-sub-logo{
        float: left;
        margin: 4px 0 0 22px;
        width: 266px;
        height: 24px;
        p, span{
          width: 266px;
          height: 24px;
        }
        p{
          color: map-get($global-color, b);
          background: map-get($global-color, d) url(#{$base-url}/logo-footer-name.png) no-repeat scroll;
          background-size: 100% auto;
        }
        span{
          position: relative;
          z-index: -1;
          display: block;
        }
        @media screen and (max-width: 576px) {
          margin: 17px 0 0 0;
          float: none;
        }
      }
      @media screen and (max-width: 1150px) {
        width: 437px;
      }
      @media screen and (max-width: 1024px) {
        padding-right: 0;
        margin-bottom: 15px;
        float: none;
        width: 100%;
      }
      @media screen and (max-width: 576px) {
        margin-bottom: 20px;
      }
    }
    .footer-address{
      address{
        font-style: normal;
        p{
          margin-bottom: 1px;
        }
      }
      font-size: 75%;
      .footer-location{
        margin-top: 5px;
        a{
          padding: 5px 0 10px 29px;
          min-height: 27px;
          display: inline-block;
          font-size: 83.34%;
          font-weight: bold;
          color: map-get($global-color, a);
          background: map-get($global-color, d) url(#{$base-url}/icon-map.svg) no-repeat scroll;
          background-size: 18px auto;
          &:hover,
          &:focus{
            text-decoration: underline;
          }
        }
      }
      @media screen and (max-width: 576px) {
        padding: 0 22px;
      }
    }
    .footer-front-main{
      overflow: hidden;
      padding-top: 4px;
      @media screen and (max-width: 576px) {
        padding: 0 20px;
      }
    }
    .footer-nav{
      @include clearfix();
      .footer-nav-heading{
        margin-bottom: 9px;
        font-size: 75%;
        font-weight: normal;
      }
      .footer-link{
        list-style: none;
        padding: 0;
        margin: 0;
        font-size: 75%;
        li {
          margin-bottom: 5px;
          a{
            color: map-get($global-color, a);
            text-decoration: none;
            &:hover,
            &:focus{
              text-decoration: underline;
            }
          }
        }
      }
    }
    .footer-nav-list{
      @include clearfix();
      list-style: none;
      padding: 0;
      margin: 0;
      .footer-nav-item{
        float: left;
        padding-right: 10px;
        &:nth-child(1){
          width: 26.5%;
        }
        &:nth-child(2){
          width: 20%;
        }
        &:nth-child(3){
          width: 33.5%;
          .footer-link{
            list-style: none;
            padding: 0;
            margin: 0;
            font-size: 75%;
            li {
              display: inline-block;
              a{
                color: map-get($global-color, a);
                text-decoration: none;
                &:hover,
                &:focus{
                  text-decoration: underline;
                }
              }
              &:nth-child(2n){
                @media screen and (max-width: 767px) {
                  clear: right;
                  width: 40%;
                }
              }
              &:nth-child(2n+1){
                min-width: 130px;
                @media screen and (max-width: 767px) {
                  clear: left;
                  width: 60%;
                }
              }
              @media screen and (max-width: 767px) {
                float: left;
              }
            }
          }
          @media screen and (max-width: 767px) {
            width: 100% !important;
            clear: both !important;
          }
        }
        &:nth-child(4){
          width: 20%;
        }
        &:nth-child(2n){
          @media screen and (max-width: 767px) {
            margin-bottom: 19px;
            clear: right;
            width: 42%;
          }
        }
        &:nth-child(2n+1){
          @media screen and (max-width: 767px) {
            margin-bottom: 19px;
            clear: left;
            width: 58%;
          }
        }
        @media screen and (max-width: 767px) {
          padding-right: 0;
        }
      }
    }
    @media screen and (max-width: 767px) {
      padding: 34px 0 9px;
    }
  }
  .footer-bellow{
    padding: 50px 0 52px;
    color: map-get($global-color, a);
	  background-color: #313131;
    @media screen and (max-width: 767px) {
      padding: 26px 0 18px;
    }
    @media screen and (max-width: 576px) {
      padding-bottom: 16px;
    }
  }
  .footer-bellow-left{
    width: 200px;
    float: left;
    @media screen and (max-width: 1024px) {
      margin-bottom: 15px;
      float: none;
      width: 100%;
    }
    @media screen and (max-width: 576px) {
      margin-bottom: 25px;
      padding: 0 20px;
    }
  }
  .footer-bellow-main{
    overflow: hidden;
    @media screen and (max-width: 576px) {
      padding: 0 20px;
    }
  }
  .footer-main-logo{
    p, span{
      width: 153px;
      height: 36px;
    }
    span{
      position: relative;
      z-index: -1;
    }
    p{
      color: map-get($global-color, b);
      background: #313131 url(#{$base-url}/logo-resort.svg) no-repeat scroll;
    }
  }
  .footer-bellow-nav{
    @include clearfix();
    .footer-bellow-item{
      float: left;
      padding-right: 20px;
      &:nth-child(1){
        width: 17.5%;
      }
      &:nth-child(2){
        width: 20%;
      }
      &:nth-child(3){
        width: 19.5%;
      }
      &:nth-child(4){
        width: 29.5%;
      }
      &:nth-child(5){
        padding-right: 0;
        width: 13.5%;
      }
      &:nth-child(2n),
      &:nth-child(2n+1){
        @media screen and (max-width: 576px) {
          margin-bottom: 22px;
        }
      }
      &:nth-child(2n){
        @media screen and (max-width: 576px) {
          padding-right: 0;
          clear: right;
          width: 42%;
        }
      }
      &:nth-child(2n+1){
        @media screen and (max-width: 576px) {
          padding-right: 50px;
          width: 58%;
          clear: left;
        }
      }
    }
  }
  .footer-bellow-link{
    @include clearfix();
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 75%;
    li{
      @include clearfix();
      margin-bottom: 4px;
      a{
        color: map-get($global-color, a);
        text-decoration: none;
        letter-spacing: -0.04em;
        &:hover,
        &:focus{
          text-decoration: underline;
        }
      }
    }
    @media screen and (max-width: 576px) {
      font-size: 62.5%;
    }
  }
}
.footer-copyright{
  @include clearfix();
  padding-bottom: 29px;
  background-color: #313131;
  .copyright{
    color: map-get($global-color, a);
    font-size: 62.5%;
  }
  @media screen and (max-width: 576px) {
    padding: 0 20px 19px;
  }
}