/*************************************
**************************************
These are the styles for
the icons section
**************************************
**************************************/
[class^="icon-"],
[class*=" icon-"] {
	position: relative;
	z-index: 10;
  display: inline-block;
  *margin-right: .3em;
  vertical-align: middle;
  color: inherit;
}


[class^="icons-"],
[class*=" icons-"] {
	position: relative;
	z-index: 10;
  display: inline-block;
  *margin-right: .3em;
  vertical-align: middle;
  color: inherit;
  background-image: url("../images/front/sprite.png") !important;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  [class^="icons-"],
  [class*=" icons-"] {
    color: inherit;
    background-image: url("../images/front/sprite@2x.png") !important;
  }
}
//icons normal
//@include sprites($spritesheet-sprites);
//icons retina
@include retina-sprites($retina-groups);

// .icon-home{
//   width: 17px;
//   height: 16px;
//   vertical-align: top;
//   background: url(#{$base-url}/icon-home.svg) no-repeat scroll transparent;
// }
