/*************************************
**************************************
Layout
**************************************
**************************************/

#region-main {
  @include clearfix();
  margin: 0;
  clear: both;
  width: 100%;
}
.wrap-col-left {
  position: relative;
  z-index: 1;
  float: left;
}

.wrap-col-right {
  position: relative;
  z-index: 1;
  float: right;
  @media screen and (max-width: 920px) {
    margin-top: 20px;
    float: none;
  }
}

.column-left .wrap-col-main {
  width: 100%;
  float: right;
  @media screen and (max-width: 920px) {
    float: none;
  }
}

.column-rnavi .wrap-col-main {
  width: 100%;
  float: left;
  @media screen and (max-width: 920px) {
    float: none;
  }
}

.col-main-inner {
  padding: 0;
}

.define-top .wrap-col-left,
.define-child .wrap-col-left {
  width: 195px;
  margin-right: -195px;
  @media screen and (max-width: 920px) {
    width: 100%;
    margin-right: 0;
  }
}

.define-top .col-left-inner,
.define-child .col-left-inner {}

.define-top .wrap-col-right,
.define-child .wrap-col-right {
  padding-left: 23px;
  width: 292px;
  @media screen and (max-width: 920px) {
    padding-left: 0;
    width: 100%;
  }
}

.define-top .col-right-inner,
.define-child .col-right-inner {}

// .define-top .column-left .col-main-inner,
// .define-child .column-left .col-main-inner {
//   margin-left: 214px;
//   @media screen and (max-width: 920px) {
//     margin-left: 0;
//   }
// }
.define-top .column-left .col-main-org,
.define-child .column-left .col-main-org {
  margin-left: 214px;
  @media screen and (max-width: 920px) {
    margin-left: 0;
  }
}
.define-top .column-rnavi .wrap-col-main,
.define-child .column-rnavi .wrap-col-main {
  margin-right: -292px;
  @media screen and (max-width: 920px) {
    margin-right: 0;
  }
}

.define-top .column-rnavi .col-main-inner,
.define-child .column-rnavi .col-main-inner {
  margin-right: 292px;
  @media screen and (max-width: 920px) {
    margin-right: 0;
  }
}