/*************************************
**************************************
These are the styles for
the navigation section
**************************************
**************************************/
/* hide menu sp
================================================== */
#sma-search {
  @include clearfix();
  position: relative;
  margin-bottom: 3rem;
  border-bottom: 1px solid #d1d5db;
}

#nav-control-sp {
  position: relative;
  padding: 0;
  display: none;
  @media screen and (max-width: 1024px) {
    float: left;
    display: inline-block;
  }
}
.menu-sp-open #nav-control-sp {
  display: inline-block;
  list-style: none;
}
#nav-control-sp a {
  position: relative;
  display: block;
  width: 60px;
  height: 60px;
  text-decoration: none;
  @media screen and (max-width: 1024px) {
    float: left;
    display: inline-block;
    background-color: map-get($global-color, d);
  }
}
.wrap-sma{
  display: none;
}
.menu-sp-close {
  display: none;
}

#sub-menu-sp {
  position: relative;
  top: 0;
  z-index: 9999;
  width: 100%;
}

/* device_change
================================================== */
/* sp_menu
================================================== */

.menu-sp-open {
  position: relative;
  width: 100%;
  min-height: 100%;
  z-index: 100;
  background: #ffffff;
  color: #222222;

  &:before {
    content: "";
    min-height: 100%;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    cursor: pointer;
  }
}

.menu-sp-open #sub-menu-sp .close_btn {
  display: block;
}

#sma_menu_main{
  position: relative;
}
// .menu-sp-open #sub-menu-sp {
//   display: block;
// }

.sma_menu_open .menu_text {
  padding-top: 33px;
  display: block;
  font-size: 1rem;
  color: map-get($global-color, active);
  line-height: 1.1;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.sma_menu_open.active .menu_text {
  color: map-get($global-color, active);
}

.sma_menu_open {
  position: relative;
}

.sma_menu_open .menu_icon {
  position: absolute;
  top: 16px;
  left: 20px;
  margin: 12px 15px 0 0;
  width: 16px;
  height: 2px;
  color: map-get($global-color, b);
  background-color: map-get($global-color, a);
  z-index: 10;
  -moz-transition: all 0.2s ease 0s;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.sma_menu_open .menu_icon:before,
.sma_menu_open .menu_icon:after {
  content: '';
  height: 2px;
  left: 0;
  color: map-get($global-color, b);
  background-color: map-get($global-color, a);
  position: absolute;
  top: 0;
  z-index: 1;
  -moz-transition: all 0.2s ease 0s;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.sma_menu_open .menu_icon:before {
  top: -9px;
  width: 20px;
}

.sma_menu_open .menu_icon:after {
  top: 8px;
  width: 9px;
}

.sma_menu_open.active {
  // background-color: map-get($global-color, b);
}

.sma_menu_open.active .menu_icon {
  // background-color: map-get($global-color, b);
  background-color: transparent;
}

.sma_menu_open.active .menu_icon:before {
  top: 0;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: map-get($global-color, active);
}

.sma_menu_open.active .menu_icon:after {
  width: 20px;
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background-color: map-get($global-color, active);
  top: 0;
}

.close_btn {
  margin: 15px;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  color: map-get($global-color, a);

  a {
    padding: 10px;
    border: 2px solid map-get($global-color, active);
    display: inline-block;
    min-width: 200px;
    color: map-get($global-color, a);
    &:hover,
    &:focus {
      color: map-get($global-color, active);
    }
  }
}