/*************************************
**************************************
These are the styles for
the paging section
**************************************
**************************************/

.section-paging {
  margin-bottom: 0;
  padding: 2rem 0 0.2rem;
  text-align: center;
  border-top: 1px solid #E4E8EC;
  .pagination {
    @include border-radius(0);
    position: relative;
    padding: 0 40px 0 50px;
    margin-bottom: 0;
    display: inline-block;
    min-height: 60px;
    .prev-arrow,
    .next-arrow{
      @include border-radius(0);
      position: absolute;
      top: 13px;
      display: inline-block;
      font-size: 0;
      width: 0; 
      height: 0;
      padding: 0;
      border: 0;
    }
    .prev-arrow{
      left: 15px;
      border-top: 6px solid transparent;
      border-bottom: 6px solid transparent;
      border-right: 8px solid #64686E;
      &:hover,
      &:focus {
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        border-right: 8px solid map-get($global-color, paging);
      }
    }
    .next-arrow{
      left: 17px;
      border-top: 6px solid transparent;
      border-bottom: 6px solid transparent;
      border-left: 8px solid #64686E;
      &:hover,
      &:focus {
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        border-left: 8px solid map-get($global-color, paging);
      }
    }
    li {
      margin: 0 6px 10px 0;
      display: inline-block;
      vertical-align: top;
      a,span {
        @include border-radius(50%);
        @include transition(0.2s all ease-in-out);
        position: relative;
        display: block;
        margin-left: -1px;
        line-height: 1.1;
        font-size: 1.5rem;
        border: solid 1px #D0D6E1;
        font-weight: 400;
        color: #818793;
        background-color: #ffffff;
        padding: 1.1rem 0.5rem;
        width: 40px;
        height: 40px;
        &:hover,
        &:focus {
          @include transition(0.2s all ease-in-out);
          font-weight: 700;
          color: map-get($global-color, paging);
          border-color: map-get($global-color, paging);
        }
      }
      &.active a{
        font-weight: 700;
        color: map-get($global-color, paging);
        border-color: map-get($global-color, paging);
      }
      &.prev,
      &.next{
        position: absolute;
        top: 0;
        margin: 0;
      }
      &.prev{
        left: 0;
      }
      &.next{
        right: 0;
      }
      &.prev a,
      &.next a {
        position: relative;
        display: block;
        cursor: pointer;
      }
      &.paging a {
        @include box-shadow(0 4px 8px 0 rgba(91, 87, 75, 0.12));
        font-weight: 700;
        color: #ffffff;
        border-color: map-get($global-color, paging);
        background-color: map-get($global-color, paging);
      }
      &.prev a:hover .prev-arrow,
      &.prev a:focus .prev-arrow{
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        border-right: 8px solid map-get($global-color, paging);
      }
      &.next a:hover .next-arrow,
      &.next a:focus .next-arrow {
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        border-left: 8px solid map-get($global-color, paging);
      }
    }
  }
  @media screen and (max-width: 992px) {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  @media screen and (max-width: 767px) {
    margin-bottom: 2.5rem;
  }
}